<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{normal/baseUser::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Index</title>
</head>
<body>

	<section>
		<div class="container text-center ">
			<h1 id="product-title"  th:if="${product}" class="heading text-uppercase"  th:text="${product}"></h1>
			<h1 th:unless="${product}" class="heading text-uppercase" >all products</h1>
		</div>



		<div class="container">
			<div class="parts">	

				 <!-- FOR LOOP -->
				  <div th:each=" e : ${allproducts}" class="d-flex productcontainer">
				  
				  		<!-- IMAGE -->
				       <div class="pimg" >
				           <img th:src="@{'/img/allparts/'+${e.productImg+'.jpeg'}}" alt="" />
				       </div>
				       
				      <!-- DATA --> 
				       <div class="data">
				            <div class="datainside">
	    		           <h2 th:text="${e.productName}"></h2>
				           <h5 th:text="${e.productPrice}"></h5>
				           <p th:text="${e.productDescription}"></p>
							
	    			            <button class="btn btn-primary"  th:onclick="|addtocart(${e.productid})|">Add to Cart</button>
				            
     				            <button class="btn btn-secondary ">Buy Now</button> 
				             </div>     
				       </div>			       
			      </div>
			       <!-- END OF FOR LOOP -->
			</div>   
		</div>
		 
		    <!-- PAGINATION -->
				   <div class=" text-center">
					       <div aria-label="Page navigation example ">					       
							  <ul class="pagination justify-content-center">
		  
							    <li th:if=" ${currentpage != 0}" class="page-item" >
						           <a   class="page-link" th:href="@{'/user/products/'+${currentpage-1}}">Previous</a>
							    </li>
							    <li th:classappend="${currentpage==i-1 ? 'active' : '' }" class="page-item" th:each="i : ${#numbers.sequence(1,totalpages)}">
							        <a  class="page-link" th:href="@{'/user/products/'+${i-1}}"><span th:text="${i}"></span></a>
							    </li>
							    <li th:if=" ${currentpage+1 != totalpages}" class="page-item">
							        <a  class="page-link" th:href="@{'/user/products/'+${currentpage+1}}">Next</a>
							    </li>						     
							    
							  </ul>
							</div>
					</div>	
	</section>

</body>
</html>