body {
	background:url("../img/userbackground.jpeg");
	background-size: cover;
}

/******** NAVBAR *********/
nav {
	position:fixed;
	background: black;
	box-shadow: 0px 2px 10px black;
}

.logocontainer {
	padding-top: 4px;
	
	height: 44px;
}

.logo {
	position: relative;
	border-radius: 40px;
	height: 31px;
	max-width: 100%;
}

.logotext {
	font-weight: 700;
	top: -34px;
	left: 32px;
	margin: 0px;
	position: relative;
	color: red;
}

.sublogotext {
	left: -83px;
	top: 15px;
	font-size: 12px;
	position: relative;
	color: white;
}

.profilepic{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.name{
	font-size:20px;
  margin-right: 10px;	
}
/***********HOME PAGE***************/
.d-block {
	height: 90vh;
}

/************REGISTER *****************/
.row {
	height: 730px
}

@media ( min-width : 768px) {
	.offset-md-3 {
		margin-left: 20% !important;
	}
}

.mycard {
	box-shadow: 1px 1px 10px white;
	padding: 3px 10px;
	background-color: rgb(3, 3, 3, 0.7) !important;
}

.title {
	color: red;
}

.registerpage {
	background-image: url("../img/registerbackground.png");
	background-size: cover;
}

.form-control {
	background-color: rgb(3, 3, 3, 0.2) !important;
	width: 96% !important;
	font-weight: 600 !important;
	margin-left: 2%;
	box-shadow: 1px 1px 10px white;
	color: white !important;
}


input::placeholder {
	color: rgb(255, 255, 255, 0.7) !important;
}

.form-group label {
	color: white;
	margin-left: 13px;
	font-weight: 600;
	border: thin;
}

.button {
	margin-bottom: 7px;
}

.form-check {
	margin-left: -55% !important;
}

.terms {
	position: relative;
	left: -6%;
	margin-top: -1%;
}

/************** LOGIN PAGE *******************/
.login{
	background-image: url("../img/loginbackground.jpg");
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
}

.user_card {
	height: 420px;
	width: 500px;
	margin-top: 8%;
	margin-bottom: auto;
	background:rgb(3,3,3,0.6);
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 1px 1px 10px black;

	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 164px;
    width: 166px;
    top: -75px;
    border-radius: 50%;
    background: rgb(232 26 26);
    padding: 7px;
    text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #c0392b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.input-group {
	    width: 107% !important;
}

.input-group-append {
    position: relative;
    margin-left: -36px !important;
}
.custom-checkbox .custom-control-input:checked ~.custom-control-label::before{
	background-color: #c0392b !important;
}

.custom-control {
    left: -20% !important;
}

.links{
	color: white;
}

.links a{
color:white;	
}
.links a:hover{
	color:white;
	text-shadow: 1px 1px 5px white;
}

/********************************** USER **********************************/

/***********SIDEBAR*****************/

@media only screen and (max-width: 600px){       /*the style will get applied only when the max width will be 600px or less*/
 	.sidebar{
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
		display: none;
		z-index: 9999;
   }
   .content{
	margin-left: 0% !important;
}
}

.bar {
    text-align: center;
    align-content: center;
    color: wheat;
    height: 58px;
    position: relative;
    left: -13px;
    margin-right: -17px;
    padding: 0px;
    width: 45px;
    cursor: pointer;
}

.sidebar{
    margin-top:-2%;
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 20px;
}

.crossBtn{
  position: absolute;
  top:0;	
  right: 35px;
  font-size:30px;
  cursor:pointer;
}

.item{
	margin-top:10px;
	display: block;
	width:100%;
	padding: 10px 29px;
	font-size: 18px;
	text-decoration: none;
}

.item:hover{
		text-decoration: none;
	background: #e2e2e2;
}

.content{
	    margin-top: 8%;
	margin-left: 20%;
}

/*****************   EXPLORE *******************/

 .heading {
    margin-top: 4px;
    margin-bottom: 36px;
    margin-left: -5%;
    color: white;
}

.parts{
    margin-left: 7%;
	margin-top: 22px;
	padding: 0px;
	flex-wrap: wrap;
	display: flex;
}

.singlepart {
    margin-right: 33px;
    border-width: 1px;
    padding-left: 0px;
    width: 244px;
    height: 370px;
    margin-left: 0px;
}

.partsimg{
    margin: 0px 8px;
    transition: box-shadow 0.3s ease; /* Smooth transition */
}
.partsimg:hover {
    box-shadow: 0 0 15px 5px white; /* White glow on hover */
}

.partstitle{
	height: 96px;
}

.title{
	padding-left: 6px;
	margin: 1rem;
	color: white;
	font-size: 25px;
}

.project-btn{
  text-align: center;	
}
.project-btn a{
	font-size:20px;
	color: white;
}
.project-btn a:hover{
	color:white;
	text-shadow: 1px 1px 9px white;
	text-decoration: none;
}

/******    ALL PARTS     *********/
.productcontainer{
	margin-bottom:1%;
	width: 100%;
}

.productcontainer img {
    margin-top: 9px;
    margin-left: 26px;
    width: 229px;
    height: 170px;
}

.pimg {
    margin-left: 0%;
    height: 191px;
    width: 288px;
    background: white;
}

.data {
    height: 191px;
    width: 60%;
    background: orange;
    margin-left: 10px;
}

.datainside{
margin:23px;
}

/*********** PROFILE ***************/

.profilepic-container img{
	height: 294px;
	width: 283px;
	 border-radius:50%;
	 margin-top:10px;	
}

.mydata{
	margin:1%;
	background-color: rgb(137 128 128);
}

/****************  UPDATE   ***************/
.update{
    box-shadow: 0px 0px 20px wheat;
    padding-top: 23px;
    width: 50rem !important;
    background: rgb(124 119 119 / 70%);
    margin-top: 15px;
    margin-bottom: 10px;
}

.update img{
	width:250px;
	height:250px;
	border-radius: 50%;
	
}

.updateicon{
	width: 40px;
}

.updateicon span{
	height: 37px;
}

.paymentbtn{
	position: relative;
	left: 32%;
}

/************ SESSION   *************/
.session{
	position:relative !important;
	top: 13px !important;
}

/********************* ORDER ***************************/
.order{
	position:absolute;
	margin-top: 10% !important;
	left:40%;
}

/****************  SEARCH  ********************/
.searchcontainer input{
	left:35%;
	width:79vh;
	background-color: rgb(255,255,255,0.9);
	position: relative;
}

.searchicon{
    position: relative;
    left:29%;	
}

.search-result{
	width:35.1%;
	left:32%;
	background-color: rgb(255,255,255,0.7);
	position: absolute;
	border:1px solid grey;
	display: none;
}