<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Forgot password</title>
</head>
<body>

	<section class="login">
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<img
								th:src="@{/img/yamahalogo.png}"
								class="brand_logo" alt="Logo">
						</div>
					</div>

					 	<!-- SESSION HANDLING -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert mt-5"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
						</div>
						<script th:if="${session.message}">
							window.onload = function() {
								fetch('/home/clear-session-message', {
									method : 'POST'
								});
							};
						</script>

					 
					<!-- FORM -->
					   <h3 class="text-center text-light">Forgot Password</h3>
 						<form th:action="@{/sendOTP}" method="post">
 						
						<div class="form-group">
						    <label for="femail">Email:</label>
						    <input required type="email" placeholder="Enter your Registered email" class="form-control" id="femail" name="email">
						</div>
						 
						 <div class="text-center">
						 <button class="btn btn-warning">Send OTP</button>
						 </div>   
						
					 	</form>

				</div>
			</div>
		</div>
	</section>

</body>
</html>